<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">

                        <center>
                            <img src="/img/inv/{{products.product_image}}" alt=""></img>
                        </center>
                    </div>


                </div>

                <div class="col-md-7">
                    <div class="product-title">{{products.product_name}}</div>
                    <div class="product-desc">Description:{{products.product_desc}}</div>
                    <div class="product-country">Country: {{products.country}}</div>
                    <hr>
                    <div class="product-price">Price: {{products.price}}</div>
                    {{!-- <div class="product-stock">In Stock</div> --}}
                    <hr>
                    <div class="btn-group cart">
                        <a href="/shoppingcart/"><button type="button" data-id="{{product.id}}"
                                class="btn btn-success addToCart">
                                Add to cart
                            </button></a>
                    </div>
                    <div class="btn-group wishlist">
                        <a href="/products"><button class="btn btn-danger">
                                Back To List
                            </button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>